@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Oswald:wght@400;600&family=DM+Sans:wght@400;500&family=Red+Hat+Display:wght@500;600&family=Poppins:wght@400;500&display=swap');

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #BCDDDC;
}

.auth-card {
  background: white;
  padding: 30px;
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;             
  flex-direction: column;
  align-items: center;        
}


.auth-card h2 {
  margin-bottom: 10px;
  color: #06080a;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 32px;
  font-weight: 1000;
}

.auth-card p {
  color: #6b7280;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.auth-card input {
  width: 100%;
  max-width: 280px;          
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
}

.auth-card input:focus {
  border-color: #4f46e5;
}

.auth-card button {
  width: 100%;
  max-width: 280px;        
  padding: 12px;
  background: #355E58; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.auth-card button:hover {
  background: #053229;
}

.auth-link {
  color: #09666d;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  cursor: pointer; 
}

.auth-link:hover {
  text-decoration: underline;
}

.auth-link a {
  color: #09666d;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}

.auth-link a:hover {
  text-decoration: underline;
}

.auth-text {
  text-align: center;
  margin-top: 10px;
}